.appearance {
  width: 400px;
  height: 520px;
  margin: 100px auto;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #fff;
}

.inside {
  width: 360px;
  height: 500px;
  margin-left: 20px;
  padding: 1px;
}

.display {
  width: 360px;
  height: 100px;
  margin-top: 30px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clear {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 7px #cbced1, -7px -7px 7px rgb(250, 250, 250);
  margin: 20px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: #1d9bf0;
  text-shadow: 1px 1px 3px rgb(139, 139, 139);
}

.button__clear {
  display: block;
}

.clear:active {
  box-shadow: none;
}

.value {
  display: block;
  margin-right: 20px;
  margin-top: 40px;
}

.buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  height: 340px;
  margin-top: 20px;
}

.button {
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 7px #cbced1, -7px -7px 7px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  color: #1d9bf0;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgb(139, 139, 139);
}

.button:active {
  box-shadow: none;
}
